body {
    margin: 0;
    font-family: 'Oswald', sans-serif;
}

.header-area {
    overflow: hidden;

}

.header-left {
    margin-top: 70px;
    width: 35%;
    float: left;
    padding: 0 5%;
    margin-left: 5%;
}

.header-right {
    width: 46%;
    overflow: hidden;   
   
}

h1 {
    font-size: 40px;
    text-transform: uppercase;
    font-weight: normal;
    color: #34495e;
}

.name-text {
    color: #3498db;
}

.header-right img {
    width: 70%;
}

.header-left a {
    text-decoration: none;
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    text-transform: uppercase;
    margin: 20px 0;
    display: inline-block;
    border-radius: 20px;
}

.about-area {
    padding-bottom: 50px;
}

.about-left {
    width: 35%;
    float: left;
    padding: 0 5%;
    margin-left: 5%;
}

.about-right {
    width: 40%;
    overflow: hidden;   
    padding-right: 5 ;

}

.about-right h1 {
    font-size: 40px;
    text-transform: uppercase;
    font-weight: normal;
    color: #34495e;
}

.name-text {
    color: #3498db;
}

.about-left img {
    width: 70%;
}

.about-right a {
    text-decoration: none;
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    text-transform: uppercase;
    margin: 20px 0;
    display: inline-block;
    border-radius: 20px;
}

.recent-work {
    margin-top: 50px;
    background-image:linear-gradient(90deg,rgb(214, 46, 17),#e74c3c);
    overflow: hidden;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 100px;
}

.recent {
    
}

.container {
    width: 80%;
    margin: auto;
}

.sample-work {
    width: 29%;
    display: inline-block;
    margin: 30px 0;
    margin-right: 2%;
    background-color: #fff;
    border: 10px solid #000 ;
    border-radius: 10px;
    
}

.sample-work img {
    width: 100%;
    border-radius: 20px;
    padding: 10px;
    box-sizing: border-box;
    
}

.recent-work a {
    text-decoration: none;
    padding: 10px 30px;
    background-color: #3498db;
    color: #fff;
    text-transform: uppercase;
    margin: 20px 0;
    display: inline-block;
    border-radius: 20px;
}

.sample-work h4 {
    text-transform: capitalize;
    font-size: 14px;
    text-align: left;
    padding: 0 15px;

}

.sample-work p {
    text-align: left;
    padding: 0 15px;
    font-size: 15px;
}

.work-inquiry {
    overflow: hidden;
    padding: 100px;
    background-color: #eee;
}

.talking-area {
    width: 55%;
    margin: auto;
    background-image: url('shapes/shape-chat.png');
    background-size: 100%;
    border-radius: 30px;
    padding: 60px;
}

.inquiry {
    width: 60%;
    float: left;
}

.inquiry h1 {
    margin: 0;
    color: #fff;
}

.chat-box {
    width: 30%;
    overflow: hidden;
    text-align: right;

}

.chat-box a {
    margin-top: 10px;
    text-decoration: none;
    padding: 10px 20px;
    background-color: #e74c3c;
    color: #fff;
    text-transform: capitalize;
    display: inline-block;
    border-radius: 10px;
    font-size: 16px;

}

.follow-me {
    padding: 40px 0;
    text-align: center;
}

.follow-me h4 {
    text-transform: uppercase;
    font-size: 18px;
}


.follow-me p {
    font-size: 20px;
}

.follow-me img {
    width: 30px;
    padding: 10px;
}
