body {
    margin: 0;
    font-family: 'Oswald', sans-serif;
}

.header-area {
    overflow: hidden;

}

.header-left {
    margin-top: 70px;
    width: 35%;
    float: left;
    padding: 0 5%;
    margin-left: 5%;
}

.header-right {
    width: 46%;
    overflow: hidden;   
   
}

.header-left h1 {
    font-size: 40px;
    text-transform: uppercase;
    font-weight: normal;
    color: #34495e;
}

.name-text {
    color: #3498db;
}

.header-right img {
    width: 70%;
}

.header-left a {
    text-decoration: none;
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    text-transform: uppercase;
    margin: 20px 0;
    display: inline-block;
    border-radius: 20px;
}


.header-area {
    overflow: hidden;

}

.about-left {
    width: 35%;
    float: left;
    padding: 0 5%;
    margin-left: 5%;
}

.about-right {
    width: 46%;
    overflow: hidden;   
    padding: 2% ;

}

.about-right h1 {
    font-size: 40px;
    text-transform: uppercase;
    font-weight: normal;
    color: #34495e;
}

.name-text {
    color: #3498db;
}

.about-left img {
    width: 70%;
}

.about-right a {
    text-decoration: none;
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    text-transform: uppercase;
    margin: 20px 0;
    display: inline-block;
    border-radius: 20px;
}